﻿ @{
    ViewBag.Title = "Resale_Property";
    Layout = null;
    
}
<div id="controller" ng-controller="ResalePropertyController as reSale">
<div class="container">
     <form role="form">
    <div class="row">
    <div class="col-md-6">
        <h2>Re Sale Property</h2>
    </div>
    <div class="col-lg-6 text-right" style="margin-top: 25px;">
                <button type="button" class="btn btn-info radius" ng-click="reSale.chk()" style="width : 100px;">Save</button>
                <button type="button" class="btn btn-info radius" ng-click="reSale.resetAll()" style="width: 100px;">Reset</button>

            </div>
</div>
    <div class="panel panel-default radius">
        <div class="panel-body">
   
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default radius">
                    <div class="panel-heading">Property Details</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Sr #:</span>
                            <input class="form-control input-sm radius" type="number" ng-model="reSale.sr" id="sr" />
                        </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Date :</span>
                            <input class="form-control input-sm side-elem-sale radius" id="date" style="width : 137px !important;" type="date" ng-model="reSale.send.date" ng-readonly ="true"/>
                        </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <span class="input-group-addon radius">Plot No.</span>
                                    <input type="text" class="form-control radius input-sm" id="property_id" ng-model="reSale.send.property_id" ng-change="reSale.fetchProperty(this)" valid-dir/>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-md-6 label-box-manual"><p>{{reSale.send.category}}</p></div>
                                    <div class="col-md-6 label-box-manual"><p style="font-size : 13px;">{{reSale.status}}</p></div>
                                </div>
                            </div>
                        </div>
                        <br />
                        
                        <div class="row">
                            <div class="col-lg-12">
                            <div class="input-group">
                            <span class="input-group-addon radius">Project:</span>
                            @*<select class="form-control radius input-sm" ng-model="Sale.project_id">
                                <option value="{{Sale.project_id}}" >{{Sale.project_name}}</option>
                            </select>*@
                                <input type="text" class="form-control radius input-sm" id="project_name" ng-model="reSale.send.project_name" ng-readonly ="true"/>
                        </div>
                            </div>
                        </div>
                        <br />
                        
                        <div class="row">
                            <div class="col-lg-12">
                            <div class="input-group">
                            <span class="input-group-addon radius">Sector:</span>
                            @*<select class="form-control radius input-sm" ng-model="Sale.sector_id">
                                <option value="{{Sale.sector_id}}">{{Sale.sector_name}}</option>
                            </select>*@
                                <input type="text" class="form-control radius input-sm" id="sector_name" ng-model="reSale.send.sector_name" ng-readonly="true"/>
                        </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                           <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Street#:</span>
                            <input class="form-control input-sm radius input-sm" id="street_no" type="text" editable="false" ng-model="reSale.send.street_no" ng-readonly ="true"/>
                        </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">House# :</span>
                            <input class="form-control input-sm side-elem-sale radius" id="house_no" type="text" ng-model="reSale.send.house_no" ng-readonly ="true"/>
                        </div>
                            </div> 
                        </div>
                        <br />
                        <div class="row">
                           <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Width:</span>
                            <input class="form-control input-sm radius" id="width" type="text" ng-model="reSale.send.width" ng-readonly ="true"/>
                        </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Length :</span>
                            <input class="form-control input-sm side-elem-sale radius" id="length" type="text" ng-model="reSale.send.length" ng-readonly ="true"/>
                        </div>
                            </div> 
                        </div>
                        <br />
                        <div class="row">
                           <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Marla:</span>
                            <input class="form-control input-sm radius" id="marla" type="text" ng-model="reSale.send.marla" ng-readonly ="true"/>
                        </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Area :</span>
                            <input class="form-control input-sm side-elem-sale radius" id="covered_area" type="text" ng-model="reSale.send.covered_area" ng-readonly ="true"/>
                        </div>
                            </div> 
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <span class="input-group-addon radius">Rate :</span>
                                    <input type="text" class="form-control radius input-sm" id="rate" ng-model="reSale.send.rate" ng-readonly ="true"/>
                                </div>
                            </div>
                            <div class="col-lg-6 label-box-manual">
                                <p ng-model="reSale.rate_criteria">{{reSale.send.rate_criteria}}</p>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                           <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Cost :</span>
                            <input class="form-control input-sm radius" id="cost" type="text" ng-model="reSale.send.total_cost" ng-readonly ="true"/>
                        </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Tot.Amount :</span>
                            <input class="form-control input-sm side-elem-sale radius" id="total_amount" type="text" ng-model="reSale.send.total_amount" ng-readonly ="true"/>
                        </div>
                            </div> 
                        </div>
                        <br />
                        <div class="row">
                           <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Term :</span>
                            <select ng-model="reSale.send.term" class="form-control radius input-sm" id="term" ng-change="reSale.toggle(this)" ng-disabled="reSale.readonly">
                                <option value="" selected>Select Term</option>
                                <option value="netpayment">Net Payment</option>
                                <option value="installments">Installments</option>
                            </select>
                        </div>
                              @* <div ng-if="show != null" class="col-lg-6" show-template n='{{show}}'>

            </div>*@
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Difference :</span>
                            <input class="form-control input-sm side-elem-sale radius" id="difference" ng-cloak ng-model="reSale.send.difference" type="text" ng-readonly ="true"/>
                        </div>
                            </div> 
                        </div>
                        <br />
                        <div class="row">
                           <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Advance :</span>
                            <input class="form-control input-sm radius" id="advance" type="text" ng-model="reSale.send.advance" valid-dir-am ng-change="reSale.calculationDiff()" @*calculate payment="Sale.payment" amount="Sale.total_amount" dif="Sale.difference"*@/>
                        </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Discount :</span>
                            <input class="form-control input-sm side-elem-sale radius" id="discount" ng-model="reSale.send.discount" type="text" valid-dir-am ng-change="reSale.calculationDiff()"/>
                        </div>
                                
                            </div> 
                        </div>
                        <br />
                        <div ng-show="reSale.show2" >
                        
<div class="row">
    <div class="col-lg-12">
                            <div class="input-group">
                            <span class="input-group-addon radius">Pay Mode:</span>
                            <select class="form-control radius input-sm" id="payment_mode" ng-model="reSale.send.payment_mode" ng-change="reSale.calculatePerInst()">
                                <option value="">Select Payment Mode</option>
                                <option ng-repeat="mode in reSale.popMode" value="{{mode.total_installments}}">{{mode.payment_mode}}</option>
                            </select>
                        </div>
    </div>
                        </div>
                        <br />
                        
           <div class="row">
           <div class="col-lg-12">
                            <div class="input-group">
                            <span class="input-group-addon radius">Per Inst:</span>
                            <input type="text" class="form-control radius input-sm" ng-model="reSale.send.per_installment" id="per_inst"/>
                            
                        </div>
                            </div>
                        </div>
                            </div>
                        <div ng-show="reSale.show1">
        <div class="row">
            <div class="col-lg-12">
                            <div class="input-group">
                            <span class="input-group-addon radius">Payment :</span>
                            <input type="text" class="form-control radius input-sm" id="payment" ng-model="reSale.send.payment" ng-change="reSale.calculationDiff()" valid-dir-am/>
                            
                        </div>
            </div>
                        </div>
                        </div>
                       <!------------------------------------------------------------------------------------------>
                        @*<showtoggle term ="{{Sale.send.term}}"></showtoggle>*@
                        
            </div>
                    </div>
                </div>
            <div class="col-lg-6">
                <div class="panel panel-default radius">
                    <div class="panel-heading">Customer Details</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="input-group">
                                    <span class="input-group-addon radius">Name :</span>
                                    <input type="text" class="form-control radius input-sm" id="name" ng-model="reSale.send.name" valid-str/>
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius">F-Name :</span>
                                    <input type="text" class="form-control radius input-sm" id="f_name" ng-model="reSale.send.f_name" valid-str/>
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius input-sm">CNIC# :</span>
                                    <input type="text" class="form-control radius input-sm" id="cnic" ng-model="reSale.send.cnic" valid-cnic/>
                                    
                                </div>

                            </div>

                            <div class="col-lg-5">
                                
                                <div style="border: 1px solid #e6dbdb; height:150px;">
                                    <img id="previewImage" ng-cloak ng-src="{{filepreview}}" class="img-responsive" ng-show="filepreview" style="height : 150px; width:193px"/>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="input-group">
                                    <span class="input-group-addon radius">Address :</span>
                                    <input type="text" class="form-control radius input-sm" id="address" ng-model="reSale.send.address" valid-address/>
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius">P-Address :</span>
                                    <input type="text" class="form-control radius input-sm" id="p_address" ng-model="reSale.send.p_address" valid-address/>
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius input-sm">Mobile :</span>
                                    <input type="text" class="form-control radius input-sm" id="mobile" ng-model="reSale.send.mobile" valid-mob/>
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius">Ph. Resrve:</span>
                                    <input type="text" class="form-control radius input-sm" id="ph_reserve" ng-model="reSale.send.ph_reserve" valid-mob/>
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius">Ph. Office :</span>
                                    <input type="text" class="form-control radius input-sm" id="ph_office" ng-model="reSale.send.ph_office" valid-mob/>
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius input-sm">Fax :</span>
                                    <input type="text" class="form-control radius input-sm" id="fax" ng-model="reSale.send.fax" valid-mob/>
                                    
                                </div>
                            </div>
                            <div class="col-lg-5 text-right">
                                <br />
                                <div class="file-input">
                                @*<input type="file"  ng-model="Sale.send.image" id="file" fileinput="file" filepreview="filepreview"/>*@
                                    <input type="file" name="file" ng-model="reSale.send.image" id="file" fileinputresale="file" filepreview="filepreview" accept="image/*" onchange="angular.element(this).scope().reSale.selectFileforUpload(this.files)"/>
                            <span class="input-value">Browse</span>
                                </div>
                                <span ng-show="reSale.imgIndic" id="image">* Please select an image.</span>
                                    </div>

                        </div>
                    </div>
                </div>
                <!------------------------------------------>
                
                    <div class="panel panel-default radius">
                        <!--<div class="panel-heading">Broker Info.</div>-->
                        <div class="panel-body">
                         <div class="row">
                           <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Total Installments :</span>
                            <input class="form-control input-sm radius" id="total_installments" type="text" ng-model="reSale.send.total_cost" ng-readonly ="true"/>
                                 </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Rec. Installments :</span>
                            <input class="form-control input-sm side-elem-sale radius" id="rec_installments" type="text" ng-model="reSale.send.total_amount" ng-readonly ="true"/>
                                </div>
                            </div> 
                        </div>
                            <br />
                            <div class="row">
                           <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Receivable :</span>
                            <input class="form-control input-sm radius" id="receivable" type="text" ng-model="reSale.send.total_cost" ng-readonly ="true"/>
                                 </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Net Balance :</span>
                            <input class="form-control input-sm side-elem-sale radius" id="net_balance" type="text" ng-model="reSale.send.total_amount" ng-readonly ="true"/>
                                </div>
                            </div> 
                        </div>


                        </div>
                    </div>
                    


                <!------------------------------------------->
            </div>

        </div>
     
        
      
        

      </div>
    </div>
    </form>
    </div>

</div>