﻿@{
    ViewBag.Title = "Installment_Receipt_Voucher";
    Layout = null;
}
<!--The stylel Guide for the HTML tags is as follows-->
<!--<element-name atributes="values" class = "class-names" ng-attrs = "" ng-binders = "" ng-events = "events" directive-names>-->
<script src="~/Content/js/jquery.min.js"></script>
<script src="~/Content/js/jquery-printme.js"></script>
<div ng-controller="InstallmentReciptVoucher as Inst">
<div class="container">
    <div class="row">
        <div class="col-md-6">
<h2>Installment Receipt Voucher</h2>
            </div>
        <div class="col-md-6">
            <div class="tab-content">
            <br />
            <div class="menu1 tab-pane fade in active text-right">
                <button id="save" type="button" class="btn btn-primary radius" style="width: 100px;" ng-click="Inst.send_save()">Save</button>
                <button type="button" class="btn btn-primary radius" style="width: 100px;" ng-click =" Inst.reset()">Reset</button>
                </div>
                <div class="menu2 tab-pane fade"></div>
                </div>
        </div>
        </div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#menu1" data-toggle="tab" class="radius">Installment Receipt</a></li>
        <li><a href="#menu2" class="radius" data-toggle="tab">Installment Preview</a></li>
    </ul>
    <div class="tab-content">
        <div class="menu1 tab-pane fade in active" id="menu1">
            <div class="row">
                <div class="col-lg-6">
                    <br />
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                        <span class="input-group-addon radius">Vr# : </span>
                        <input type="number" id="sr" class="form-control radius input-sm" ng-model="Inst.sr"/>
                    </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                        <span class="input-group-addon radius">Date : </span>
                        <input type="date" class="form-control radius input-sm" ng-model="Inst.send.date" ng-readonly="true" />
                    </div>
                        </div>
                    </div>
                    <br />
                    <div class="panel panel-default radius">
                        <div class="panel-body">
                          <div class="row">
                              <div class="col-lg-6">
                                  <div class="input-group">
                        <span class="input-group-addon radius">Ref# : </span>
                        <input type="text" class="form-control radius input-sm" id="plotno"  ng-model="Inst.send.property_id" ng-blur="Inst.propertyFetch(this)" valid-number2/>
                    </div>
                              </div>
                          </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                        <span class="input-group-addon radius">Category : </span>
                        <input type="text" class="form-control radius input-sm" id="category" ng-model="Inst.send.category" ng-readonly="true"/>
                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                        <span class="input-group-addon radius">Project : </span>
                        <input type="text" class="form-control radius input-sm" id="project_name" ng-readonly="true" ng-model="Inst.send.project_name"/>
                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                        <span class="input-group-addon radius">Steet : </span>
                        <input type="text" class="form-control radius input-sm" id="street_no" ng-model="Inst.send.street_no" ng-readonly="true"/>
                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                        <span class="input-group-addon radius">Sector : </span>
                        <input type="text" class="form-control radius input-sm" id="sector_name" ng-model="Inst.send.sector_name" ng-readonly="true"/>
                    </div>
                                </div>
                            </div>

                            <br />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                        <span class="input-group-addon radius">Width : </span>
                        <input type="text" class="form-control radius input-sm" id="width" ng-model="Inst.send.width" ng-readonly="true"/>
                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                        <span class="input-group-addon radius">Length : </span>
                        <input type="text" class="form-control radius input-sm" id="length" ng-model="Inst.send.length" ng-readonly="true"/>
                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                        <span class="input-group-addon radius">Plot Area : </span>
                        <input type="text" class="form-control radius input-sm" id="covered_area" ng-model="Inst.send.covered_area" ng-readonly="true"/>
                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                        <span class="input-group-addon radius">Marla/sqr : </span>
                        <input type="text" class="form-control radius input-sm" id="marla" ng-model="Inst.send.marla" ng-readonly="true"/>
                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                        <span class="input-group-addon radius">Rate : </span>
                        <input type="text" class="form-control radius input-sm" id="rate" ng-model="Inst.send.rate" ng-readonly="true"/>
                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                        <span class="input-group-addon radius">House/P# : </span>
                        <input type="text" class="form-control radius input-sm" id="house_no" ng-model="Inst.send.house_no" ng-readonly="true"/>
                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                        <span class="input-group-addon radius">Cost : </span>
                        <input type="text" class="form-control radius input-sm" id="total_cost" ng-model="Inst.send.total_cost" ng-readonly="true"/>
                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                        <span class="input-group-addon radius">Total Value : </span>
                        <input type="text" class="form-control radius input-sm" id="total_amount" ng-model="Inst.send.total_amount" ng-readonly="true"/>
                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="panel panel-default radius">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="input-group">
                                        <span class="input-group-addon radius">Mode : </span>
                                        <input type="text" class="form-control radius" id="payment_mode" ng-model="Inst.send.payment_mode" ng-readonly="true"/>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <span class="input-group-addon radius">Installments</span>
                                        <input type="text" class="form-control radius input-sm" id="total_installments" ng-model="Inst.send.total_installments" ng-readonly="true"/>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <span class="input-group-addon radius">Installment#</span>
                                        <input type="text" class="form-control radius input-sm" id="installment_no" ng-model="Inst.send.installment_no" ng-readonly="true"/>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <span class="input-group-addon radius">Amount Due</span>
                                        <input type="text" class="form-control radius input-sm" id="amount_due" ng-model="Inst.send.amount_due" ng-readonly="true"/>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <span class="input-group-addon radius">Advance</span>
                                        <input type="text" class="form-control radius input-sm" id="advance" ng-model="Inst.send.advance" ng-readonly="true"/>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <span class="input-group-addon radius">Payment</span>
                                        <input type="text" id="payment" class="form-control radius input-sm" ng-model="Inst.send.receiveable_payment" valid-payment valid-number/>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <span class="input-group-addon radius">Per Install.</span>
                                        <input type="text" class="form-control radius input-sm" id="per_inst" ng-model="Inst.send.per_installment" ng-readonly="true"/>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Remarks</span>
                                <input type="text" class="form-control radius input-sm" valid-string ng-model="Inst.send.remarks"/>
                        </div>
                                    </div>
                                </div>
                    </div>
                    
                </div>
                
            </div>
                <br />
                <p> </p>
                
                <br />
                <br />
                <div class="col-lg-6">
                    <div class="panel panel-default radius">
                        <div class="panel-body">
                            <br />
                    
                    <div class="text-center">

                    <div id="pictureBox" style="border: 1px solid #e6dbdb; width: 350px; height: 150px; margin-left : 100px;">
                        <img width="350px" height="150px" ng-src="~/images/{{Inst.send.image}}" />
                    </div>
                        </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                    <span class="input-group-addon radius">Name :</span>
                                    <input type="text" class="form-control radius input-sm" id="name" ng-model="Inst.send.name" ng-readonly="true"/>
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius">F-Name :</span>
                                    <input type="text" class="form-control radius input-sm" id="f_name" ng-model="Inst.send.f_name" ng-readonly="true"/>
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius input-sm">CNIC# :</span>
                                    <input type="text" class="form-control radius input-sm" id="cnic" ng-model="Inst.send.cnic" ng-readonly="true"/>
                                    
                                </div>
                            <br />
                            <div class="input-group">
                                    <span class="input-group-addon radius">Address :</span>
                                    <input type="text" class="form-control radius input-sm" id="address" ng-model="Inst.send.address" ng-readonly="true"/>
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius">P-Address :</span>
                                    <input type="text" class="form-control radius input-sm" id="p_address" ng-model="Inst.send.p_address" ng-readonly="true"/>
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius input-sm">Mobile :</span>
                                    <input type="text" class="form-control radius input-sm" id="mobile" ng-model="Inst.send.mobile" ng-readonly="true"/>
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius">Ph. Resrve:</span>
                                    <input type="text" class="form-control radius input-sm" ng-model="Inst.send.ph_reserve" ng-readonly="true"/>
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius">Ph. Office :</span>
                                    <input type="text" class="form-control radius input-sm" ng-model="Inst.send.ph_office" ng-readonly="true"/>
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius input-sm">Fax :</span>
                                    <input type="text" class="form-control radius input-sm" ng-model="Inst.send.fax" ng-readonly="true"/>
                                    
                                </div>
                        </div>

                    </div>

                        </div>
                    </div>
                </div>
        </div>
        
    </div>
        <div class="menu2 tab-pane fade" id="menu2">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon radius">Property No.</span>
                        <input type="text" class="form-control radius" ng-model="Inst.property_id" valid-number2 ng-change="Inst.fetchTable(this)"/>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <br />
                    <button class="btn btn-default radius" id="printlist">Print</button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12" id="tableprint">
                    <table class="table table-striped table-responsive table-condensed table-bordered">
                        <tr>
                            <th>Vr# </th>
                            <th>Date</th>
                            <th>Plot No.</th>
                            <th>Total Cost</th>
                            <th>Total Amount</th>
                            <th>Payment Mode</th>
                            <th>Total Installment</th>
                            <th>Advance</th>
                            <th>Amount Due</th>
                            <th>Installment No.</th>
                            <th>Receive.Payment</th>
                            <th>Per Installment</th>
                            <th>Name</th>
                        </tr>
                        <tr ng-repeat="Inst in Inst.InstList">
                            <td>{{Inst.vr}}</td>
                            <td>{{Inst.date}}</td>
                            <td>{{Inst.property_id}}</td>
                            <td>{{Inst.total_cost}}</td>
                            <td>{{Inst.total_amount}}</td>
                            <td>{{Inst.payment_mode}}</td>
                            <td>{{Inst.total_installments}}</td>
                            <td>{{Inst.advance}}</td>
                            <td>{{Inst.amount_due}}</td>
                            <td>{{Inst.installment_no}}</td>
                            <td>{{Inst.receiveable_payment}}</td>
                            <td>{{Inst.per_installment}}</td>
                            <td>{{Inst.name}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr />
        </div>
    </div>
    </div>

</div>
<div id="mydatainstallment" style="display:none;">
             <table class="table table-bordered">
                    
                    <tbody>
                    <tr><td>Sr# : </td><td id="srAssign"></td></tr>
                    <tr>
                        <td>Plot NO. :</td><td id="plotnoAssign"></td>
                        <td>Project Name:</td><td id="project_nameAssign"></td>
                    </tr>
                    <tr>
                        <td>Sector : </td><td id="sectorAssign"></td>
                        <td>Street No. :</td><td id="streetAssign"></td>
                    </tr>
                    <tr>
                        <td>House NO. :</td><td id="houseAssign"></td>
                        <td>Area:</td><td id="areaAssign"></td>
                    </tr>
                    <tr>
                        <td>Length : </td><td id="lengthAssign"></td>
                        <td>Width :</td><td id="widthAssign"></td>
                    </tr>
                    <tr>
                        <td>Marla : </td><td id="marlaAssign"></td>
                        <td>Building Cost :</td><td id="costAssign"></td>
                    </tr>
                    <tr>
                        <td>Term :</td><td id="termAssign"></td>
                        <td>Total amount :</td><td id="amountAssign"></td>
                    </tr>
                    <tr>
                        <td>Advance :</td><td id="advanceAssign"></td>
                        <td>Payment :</td><td id="paymentAssign"></td>
                    </tr>
                        <tr>
                        <td>Pay Mode :</td><td id="modeAssign"></td>
                        <td>Per Installment :</td><td id="perinstAssign"></td>
                    </tr>
                    <tr>
                        <td>Total Installments :</td><td id="total_installmentsssign"></td>
                        <td>Current Installment :</td><td id="installment_noAssign"></td>
                    </tr>
                    <tr><td colspan="2"><h3>Customer Details</h3></td></tr>

                    
                        <tr>
                        <td>Name :</td><td class="nameAssign"></td>
                        <td>Father Name :</td><td id="f_nameAssign"></td>
                    </tr>
                    
                        <tr>
                        <td>CNIC :</td><td id="cnicAssign"></td>
                        <td>Mobile :</td><td id="mobileAssign"></td>
                    </tr>
                    
                        <tr>
                        <td>Address :</td><td colspan="2" id="addressAssign"></td>
                    </tr>
                    <tr>
                        <td>P_Address :</td><td colspan="2" id="p_addressAssign"></td>
                    </tr>
                        
                    <tr>
                        <td colspan="1" class="nameAssign" style="padding-top : 50px; text-transform: capitalize"></td>
                        <td style="padding-top : 50px;">__________________________________</td>
                        <td style="padding-top : 50px; text-transform: capitalize">Authoritize : </td>
                        <td style="padding-top : 50px;">__________________________________</td>
                    </tr>
                    
                      
                    </tbody>
                    </table>
                </div>


<script>
    $(document).ready(function () {
        $('#printlist').click(function () {
            $("#tableprint").printMe({
                "path": ["/Content/css/example.css"],
                "title": "Installement Receving List"
            });
        });
        $("#save").click(function () {

            var sr = $("#sr").val();
            var date = $('#date').val();
            var plotno = $('#plotno').val();
            var project_name = $('#project_name').val();
            var sector_name = $('#sector_name').val();
            var street_no = $('#street_no').val();
            var house_no = $('#house_no').val();
            var width = $('#width').val();
            var length = $('#length').val();
            var marla = $('#marla').val();
            var covered_area = $('#covered_area').val();
            var rate = $('#rate').val();
            var cost = $('#cost').val();
            var total_amount = $('#total_amount').val();
            var term = $('#term').val();
            var advance = $('#advance').val();
            var payment_mode = $('#payment_mode').val();
            var per_inst = $('#per_inst').val();
            var payment = $('#payment').val();
            var name = $('#name').val();
            var f_name = $('#f_name').val();
            var cnic = $('#cnic').val();
            var address = $('#address').val();
            var p_address = $('#p_address').val();
            var mobile = $('#mobile').val();
            var ph_reserve = $('#ph_reserve').val();
            var total_installments = $('#total_installments').val();
            var amount_due = $('#amount_due').val();
            var installment_no = $('#installment_no').val();

            if (sr == '') {
                alert('Correct Errors..1');
            }
            if (plotno == '') {
                alert('Correct Errors..2');
                return false;
            }
            if (name == '') {
                alert('Correct Errors.3');
                return false;
            }
            if (f_name == '') {
                alert('Correct Errors..4');
                return false;
            }
            if (cnic == '') {
                alert('Correct Errors..5');
                return false;
            }
            if (address == '') {
                alert('Correct Errors..6');
                return false;
            }
            if (mobile == '') {
                alert('Correct Errors..7');
                return false;
            }
            if (length == '') {
                alert('Correct Errors..8');
                return false;
            }
            if (marla == '') {
                alert('Correct Errors..9');
                return false;
            }
            if (covered_area == '') {
                alert('Correct Errors..10');
                return false;
            }
            if (rate == '') {
                alert('Correct Errors..11');
                return false;
            }
            if (cost == '') {
                alert('Correct Errors..12');
                return false;
            }
            if (total_amount == '') {
                alert('Correct Errors..13');
                return false;
            }
            if (term == '') {
                alert('Correct Errors..14');
                return false;
            }
            if (advance == '') {
                alert('Correct Errors..15');
                return false;
            }
            if (payment == '') {
                alert('Correct Errors..16');
                return false;
            }

            
            
             else {

                $("#srAssign").html(sr);
                $("#plotnoAssign").html(plotno);
                $("#project_nameAssign").html(project_name);
                $("#sectorAssign").html(sector_name);
                $("#streetAssign").html(street_no);
                $("#houseAssign").html(house_no);
                $("#widthAssign").html(width);
                $("#lengthAssign").html(length);
                $("#marlaAssign").html(marla);
                $("#areaAssign").html(covered_area);
                $("#rateAssign").html(rate);
                $("#costAssign").html(cost);
                $("#amountAssign").html(total_amount);
                $("#termAssign").html(term);
                $("#advanceAssign").html(advance);
                $("#modeAssign").html(payment_mode);
                $("#perinstAssign").html(per_inst);
                $("#paymentAssign").html(payment);
                $(".nameAssign").html(name);
                $("#f_nameAssign").html(f_name);
                $("#cnicAssign").html(cnic);
                $("#addressAssign").html(address);
                $("#p_addressAssign").html(p_address);
                $("#mobileAssign").html(mobile);
                $("#total_installmentsssign").html(total_installments);
                $("#installment_noAssign").html(installment_no);
                $("#mydatainstallment").printMe({
                    "path": ["/Content/css/example.css"],
                    "title": "Installement Receipt Voucher"
                });
            }
        })
    });
	</script>
