﻿ @{
    ViewBag.Title = "Sale_Property";
    Layout = null;
    
}
<script src="~/Content/js/jquery.min.js"></script>
<script src="~/Content/js/jquery-printme.js"></script>
<div id="controller" ng-controller="SalePropertyController as Sale">
<div class="container">
     <form role="form">
    <div class="row">
    <div class="col-md-6">
        <h2>Sale Property</h2>
    </div>
    <div class="col-lg-6 text-right" style="margin-top: 25px;">
                <button id="save" type="button" class="btn btn-info radius" ng-click="Sale.chk()" style="width : 100px;">Save</button>
                <button type="button" class="btn btn-info radius" ng-click="Sale.resetAll()" style="width: 100px;">Reset</button>

            </div>
</div>
    <div class="panel panel-default radius">
        <div class="panel-body">
   
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default radius">
                    <div class="panel-heading">Property Details</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Sr #:</span>
                            <input class="form-control input-sm radius" type="number" ng-model="Sale.sr" id="sr"/>
                        </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Date :</span>
                            <input class="form-control input-sm side-elem-sale radius" id="date" style="width : 137px !important;" type="date" ng-model="Sale.send.date" ng-readonly ="true"/>
                        </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <span class="input-group-addon radius">Plot No.</span>
                                    <input type="text" class="form-control radius input-sm" id="property_id" ng-model="Sale.send.property_id" ng-change="Sale.fetchProperty(this)" valid-dir/>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-md-6 label-box-manual"><p>{{Sale.send.category}}</p></div>
                                    <div class="col-md-6 label-box-manual"><p style="font-size : 13px;">{{Sale.status}}</p></div>
                                </div>
                            </div>
                        </div>
                        <br />
                        
                        <div class="row">
                            <div class="col-lg-12">
                            <div class="input-group">
                            <span class="input-group-addon radius">Project:</span>
                            @*<select class="form-control radius input-sm" ng-model="Sale.project_id">
                                <option value="{{Sale.project_id}}" >{{Sale.project_name}}</option>
                            </select>*@
                                <input type="text" class="form-control radius input-sm" id="project_name" ng-model="Sale.send.project_name" ng-readonly ="true"/>
                        </div>
                            </div>
                        </div>
                        <br />
                        
                        <div class="row">
                            <div class="col-lg-12">
                            <div class="input-group">
                            <span class="input-group-addon radius">Sector:</span>
                            @*<select class="form-control radius input-sm" ng-model="Sale.sector_id">
                                <option value="{{Sale.sector_id}}">{{Sale.sector_name}}</option>
                            </select>*@
                                <input type="text" class="form-control radius input-sm" id="sector_name" ng-model="Sale.send.sector_name" ng-readonly="true"/>
                        </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                           <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Street#:</span>
                            <input class="form-control input-sm radius input-sm" id="street_no" type="text" editable="false" ng-model="Sale.send.street_no" ng-readonly ="true"/>
                        </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">House# :</span>
                            <input class="form-control input-sm side-elem-sale radius" id="house_no" type="text" ng-model="Sale.send.house_no" ng-readonly ="true"/>
                        </div>
                            </div> 
                        </div>
                        <br />
                        <div class="row">
                           <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Width:</span>
                            <input class="form-control input-sm radius" id="width" type="text" ng-model="Sale.send.width" ng-readonly ="true"/>
                        </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Length :</span>
                            <input class="form-control input-sm side-elem-sale radius" id="length" type="text" ng-model="Sale.send.length" ng-readonly ="true"/>
                        </div>
                            </div> 
                        </div>
                        <br />
                        <div class="row">
                           <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Marla:</span>
                            <input class="form-control input-sm radius" id="marla" type="text" ng-model="Sale.send.marla" ng-readonly ="true"/>
                        </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Area :</span>
                            <input class="form-control input-sm side-elem-sale radius" id="covered_area" type="text" ng-model="Sale.send.covered_area" ng-readonly ="true"/>
                        </div>
                            </div> 
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <span class="input-group-addon radius">Rate :</span>
                                    <input type="text" class="form-control radius input-sm" id="rate" ng-model="Sale.send.rate" ng-readonly ="true"/>
                                </div>
                            </div>
                            <div class="col-lg-6 label-box-manual">
                                <p ng-model="Sale.rate_criteria">{{Sale.send.rate_criteria}}</p>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                           <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Cost :</span>
                            <input class="form-control input-sm radius" id="cost" type="text" ng-model="Sale.send.total_cost" ng-readonly ="true"/>
                        </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Tot.Amount :</span>
                            <input class="form-control input-sm side-elem-sale radius" id="total_amount" type="text" ng-model="Sale.send.total_amount" ng-readonly ="true"/>
                        </div>
                            </div> 
                        </div>
                        <br />
                        <div class="row">
                           <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Term :</span>
                            <select ng-model="Sale.send.term" class="form-control radius input-sm" id="term" ng-change="Sale.toggle(this)" ng-disabled="Sale.readonly">
                                <option value="" selected>Select Term</option>
                                <option value="netpayment">Net Payment</option>
                                <option value="installments">Installments</option>
                            </select>
                        </div>
                              @* <div ng-if="show != null" class="col-lg-6" show-template n='{{show}}'>

            </div>*@
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Difference :</span>
                            <input class="form-control input-sm side-elem-sale radius" id="difference" ng-cloak ng-model="Sale.send.difference" type="text" ng-readonly ="true"/>
                        </div>
                            </div> 
                        </div>
                        <br />
                        <div class="row">
                           <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Advance :</span>
                            <input class="form-control input-sm radius" id="advance" type="text" ng-model="Sale.send.advance" valid-dir-am ng-change="Sale.calculationDiff()" @*calculate payment="Sale.payment" amount="Sale.total_amount" dif="Sale.difference"*@/>
                        </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Discount :</span>
                            <input class="form-control input-sm side-elem-sale radius" id="discount" ng-model="Sale.send.discount" type="text" valid-dir-am ng-change="Sale.calculationDiff()"/>
                        </div>
                                
                            </div> 
                        </div>
                        <br />
                        <div ng-show="Sale.show2" >
                        
<div class="row">
    <div class="col-lg-12">
                            <div class="input-group">
                            <span class="input-group-addon radius">Pay Mode:</span>
                            <select class="form-control radius input-sm" id="payment_mode" ng-model="Sale.send.payment_mode" ng-change="Sale.calculatePerInst()">
                                <option value="">Select Payment Mode</option>
                                <option ng-repeat="mode in Sale.popMode" value="{{mode.total_installments}}">{{mode.payment_mode}}</option>
                            </select>
                        </div>
    </div>
                        </div>
                        <br />
                        
           <div class="row">
           <div class="col-lg-12">
                            <div class="input-group">
                            <span class="input-group-addon radius">Per Inst:</span>
                            <input type="text" id="per_inst" class="form-control radius input-sm" ng-model="Sale.send.per_installment" />
                            
                        </div>
                            </div>
                        </div>
                            </div>
                        <div ng-show="Sale.show1">
        <div class="row">
            <div class="col-lg-12">
                            <div class="input-group">
                            <span class="input-group-addon radius">Payment :</span>
                            <input type="text" class="form-control radius input-sm" id="payment" ng-model="Sale.send.payment" ng-change="Sale.calculationDiff()" valid-dir-am/>
                            
                        </div>
            </div>
                        </div>
                        </div>
                       <!------------------------------------------------------------------------------------------>
                        @*<showtoggle term ="{{Sale.send.term}}"></showtoggle>*@
                        
            </div>
                    </div>
                </div>
            <div class="col-lg-6">
                <div class="panel panel-default radius">
                    <div class="panel-heading">Customer Details</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="input-group">
                                    <span class="input-group-addon radius">Name :</span>
                                    <input type="text" class="form-control radius input-sm" id="name" ng-model="Sale.send.name" valid-str/>
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius">F-Name :</span>
                                    <input type="text" class="form-control radius input-sm" id="f_name" ng-model="Sale.send.f_name" valid-str/>
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius input-sm">CNIC# :</span>
                                    <input type="text" class="form-control radius input-sm" id="cnic" ng-model="Sale.send.cnic" valid-cnic/>
                                    
                                </div>

                            </div>

                            <div class="col-lg-5">
                                
                                <div style="border: 1px solid #e6dbdb; height:150px;">
                                    <img id="previewImage" ng-cloak ng-src="{{filepreview}}" class="img-responsive" ng-show="filepreview" style="height : 150px; width:193px"/>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="input-group">
                                    <span class="input-group-addon radius">Address :</span>
                                    <input type="text" class="form-control radius input-sm" id="address" ng-model="Sale.send.address" valid-address/>
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius">P-Address :</span>
                                    <input type="text" class="form-control radius input-sm" id="p_address" ng-model="Sale.send.p_address" valid-address/>
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius input-sm">Mobile :</span>
                                    <input type="text" class="form-control radius input-sm" id="mobile" ng-model="Sale.send.mobile" valid-mob/>
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius">Ph. Resrve:</span>
                                    <input type="text" class="form-control radius input-sm" id="ph_reserve" ng-model="Sale.send.ph_reserve" valid-mob/>
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius">Ph. Office :</span>
                                    <input type="text" class="form-control radius input-sm" id="ph_office" ng-model="Sale.send.ph_office" valid-mob/>
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius input-sm">Fax :</span>
                                    <input type="text" class="form-control radius input-sm" id="fax" ng-model="Sale.send.fax" valid-mob/>
                                    
                                </div>
                            </div>
                            <div class="col-lg-5 text-right">
                                <br />
                                <div class="file-input">
                                @*<input type="file"  ng-model="Sale.send.image" id="file" fileinput="file" filepreview="filepreview"/>*@
                                    <input type="file" name="file" ng-model="Sale.send.image" id="file" fileinput="file" filepreview="filepreview" accept="image/*" onchange="angular.element(this).scope().Sale.selectFileforUpload(this.files)"/>
                            <span class="input-value">Browse</span>
                                </div>
                                <span ng-show="Sale.imgIndic" id="image">* Please select an image.</span>
                                    </div>

                        </div>
                    </div>
                </div>
                <!------------------------------------------>
                
                    <div class="panel panel-default radius">
                        <!--<div class="panel-heading">Broker Info.</div>-->
                        <div class="panel-body">
                            <div class="checkbox">
                            <label>Broker Involved</label><input type="checkbox" ng-model="Sale.broker_involve"/>
                                </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="input-group">
                            <span class="input-group-addon radius">Broker :</span>
                            <select class="form-control radius" ng-model="Sale.send.broker_name" ng-disabled="!Sale.broker_involve">
                                <option selected>Broker Name</option>
                            </select>
                        </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group">
                            <span class="input-group-addon radius sm-label">% :</span>
                            <input type="text" class="form-control radius" ng-model="Sale.send.broker_percent" ng-disabled="!Sale.broker_involve" valid-dir-am/>
                        </div>
                            </div>
                            <div class="col-lg-4">
                                  <div class="input-group">
                            <span class="input-group-addon radius sm-label">Comm :</span>
                            <input type="text" class="form-control radius" ng-model="Sale.send.commision" disabled/>
                        </div>
                            </div>
                        </div>
                   
                        </div>
                    </div>
                    


                <!------------------------------------------->
            </div>

        </div>
            <div id="mydata">
             <table class="table table-bordered">
                    
                    <tbody>
                    <tr><td>Sr# : </td><td id="srAssign"></td></tr>
                    <tr>
                        <td>Plot NO. :</td><td id="plotnoAssign"></td>
                        <td>Project Name:</td><td id="project_nameAssign"></td>
                    </tr>
                    <tr>
                        <td>Sector : </td><td id="sectorAssign"></td>
                        <td>Street No. :</td><td id="streetAssign"></td>
                    </tr>
                    <tr>
                        <td>House NO. :</td><td id="houseAssign"></td>
                        <td>Area:</td><td id="areaAssign"></td>
                    </tr>
                    <tr>
                        <td>Length : </td><td id="lengthAssign"></td>
                        <td>Width :</td><td id="widthAssign"></td>
                    </tr>
                    <tr>
                        <td>Marla : </td><td id="marlaAssign"></td>
                        <td>Building Cost :</td><td id="costAssign"></td>
                    </tr>
                    <tr>
                        <td>Term :</td><td id="termAssign"></td>
                        <td>Total amount :</td><td id="amountAssign"></td>
                    </tr>
                    <tr>
                        <td>Advance :</td><td id="advanceAssign"></td>
                        <td>Payment :</td><td id="paymentAssign"></td>
                    </tr>
                        <tr>
                        <td>Pay Mode :</td><td id="modeAssign"></td>
                        <td>Per Installment :</td><td id="perinstAssign"></td>
                    </tr>
                    <tr><td colspan="2"><h3>Customer Details</h3></td></tr>

                    
                        <tr>
                        <td>Name :</td><td class="nameAssign"></td>
                        <td>Father Name :</td><td id="f_nameAssign"></td>
                    </tr>
                    
                        <tr>
                        <td>CNIC :</td><td id="cnicAssign"></td>
                        <td>Mobile :</td><td id="mobileAssign"></td>
                    </tr>
                    
                        <tr>
                        <td>Address :</td><td colspan="2" id="addressAssign"></td>
                    </tr>
                    <tr>
                        <td>P_Address :</td><td colspan="2" id="p_addressAssign"></td>
                    </tr>
                        
                    <tr>
                        <td colspan="1" class="nameAssign" style="padding-top : 50px; text-transform: capitalize"></td>
                        <td style="padding-top : 50px;">__________________________________</td>
                        <td style="padding-top : 50px; text-transform: capitalize">Authoritize : </td>
                        <td style="padding-top : 50px;">__________________________________</td>
                    </tr>
                    
                      
                    </tbody>
                    </table>
                </div>
            
      </div>
    </div>
    </form>
    </div>

</div>

<script>
    $(document).ready(function () {
        $("#save").click(function () {

            var sr = $("#sr").val();
            var date = $('#date').val();
            var plotno = $('#property_id').val();
            var project_name = $('#project_name').val();
            var sector_name = $('#sector_name').val();
            var street_no = $('#street_no').val();
            var house_no = $('#house_no').val();
            var width = $('#width').val();
            var length = $('#length').val();
            var marla = $('#marla').val();
            var covered_area = $('#covered_area').val();
            var rate = $('#rate').val();
            var cost = $('#cost').val();
            var total_amount = $('#total_amount').val();
            var term = $('#term').val();
            var advance = $('#advance').val();
            var payment_mode = $('#payment_mode').val();
            var per_inst = $('#per_inst').val();
            var payment = $('#payment').val();
            var name = $('#name').val();
            var f_name = $('#f_name').val();
            var cnic = $('#cnic').val();
            var address = $('#address').val();
            var p_address = $('#p_address').val();
            var mobile = $('#mobile').val();
            var ph_reserve = $('#ph_reserve').val();

            if (sr == '') {
                alert('Correct Errors..1');
            }
            if (plotno == '') {
                alert('Correct Errors..2');
                return false;
            }
            if (name == '') {
                alert('Correct Errors.3');
                return false;
            }
            if (f_name == '') {
                alert('Correct Errors..4');
                return false;
            }
            if (cnic == '') {
                alert('Correct Errors..5');
                return false;
            }
            if (address == '') {
                alert('Correct Errors..6');
                return false;
            }
            if (mobile == '') {
                alert('Correct Errors..7');
                return false;
            }
            if (length == '') {
                alert('Correct Errors..8');
                return false;
            }
            if (marla == '') {
                alert('Correct Errors..9');
                return false;
            }
            if (covered_area == '') {
                alert('Correct Errors..10');
                return false;
            }
            if (rate == '') {
                alert('Correct Errors..11');
                return false;
            }
            if (cost == '') {
                alert('Correct Errors..12');
                return false;
            }
            if (total_amount == '') {
                alert('Correct Errors..13');
                return false;
            }
            if (term == '') {
                alert('Correct Errors..14');
                return false;
            }
            if (advance == '') {
                alert('Correct Errors..15');
                return false;
            }
            
             else {

                $("#srAssign").html(sr);
                $("#plotnoAssign").html(plotno);
                $("#project_nameAssign").html(project_name);
                $("#sectorAssign").html(sector_name);
                $("#streetAssign").html(street_no);
                $("#houseAssign").html(house_no);
                $("#widthAssign").html(width);
                $("#lengthAssign").html(length);
                $("#marlaAssign").html(marla);
                $("#areaAssign").html(covered_area);
                $("#rateAssign").html(rate);
                $("#costAssign").html(cost);
                $("#amountAssign").html(total_amount);
                $("#termAssign").html(term);
                $("#advanceAssign").html(advance);
                $("#modeAssign").html(payment_mode);
                $("#perinstAssign").html(per_inst);
                $("#paymentAssign").html(payment);
                $(".nameAssign").html(name);
                $("#f_nameAssign").html(f_name);
                $("#cnicAssign").html(cnic);
                $("#addressAssign").html(address);
                $("#p_addressAssign").html(p_address);
                $("#mobileAssign").html(mobile);
                $("#mydata").printMe({
                    "path": ["/Content/css/example.css"],
                    "title": "Sale/Installement Receipt"
                });
            }
        })
    });
	</script>


@section scripts{
    <script src="~/Scripts/Custom_js/sale_property.js"></script>

    }