﻿
@{
    ViewBag.Title = "Index";
    Layout = null;
    
}
    
<br />
<h2><strong>Dashboard Analytics</strong></h2>

<br />

<div>
    
    <div class="container">
        
    <div class="row">
            
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="widget">
                    <div class="widget-heading clearfix">
                      <div class="pull-left">Soled Properties</div>
                      <div class="pull-right"> @ViewBag.saleper<sup>%</sup></div>
                    </div>
                    <div class="widget-body clearfix">
                      <div class="pull-left">
                        <i class="fas fa-warehouse"></i>
                      </div>
                      <div class="pull-right number">@ViewBag.sale</div>
                    </div>

               
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="widget">
                    <div class="widget-heading clearfix">
                      <div class="pull-left">Under Installment</div>
                      <div class="pull-right"> @ViewBag.installmentper<sup>%</sup></div>
                    </div>
                    <div class="widget-body clearfix">
                      <div class="pull-left">
                        <i class="fas fa-hotel"></i>
                      </div>
                      <div class="pull-right number">@ViewBag.installment</div>
                    </div>
                
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                          <div class="widget">
                            <div class="widget-heading clearfix">
                              <div class="pull-left">Total Properties</div>
                              <div class="pull-right"> @ViewBag.totalper<sup>%</sup></div>
                            </div>
                            <div class="widget-body clearfix">
                              <div class="pull-left">
                                <i class="fas fa-hotel"></i>
                              </div>
                              <div class="pull-right number">@ViewBag.total</div>
                            </div>
                
                          </div>
                        </div>
              </div>
        <hr />
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-6 col-md-8 col-sm-6">
                
                <div Style="font-family: Corbel; font-size: small ;text-align:center " class="row">  
                    <div  style="width:400px;height:400px">  
                            <canvas id="myChart" style="padding: 0;margin: auto;display: block; "> </canvas>  
                    </div>  
                </div>

            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div style="height : 150px"></div>
                  <div class="widget">
                    <div class="widget-heading clearfix">
                      <div class="pull-left">Available Properties</div>
                      <div class="pull-right"><i class="fa fa-angle-down"></i> @ViewBag.availableper<sup>%</sup></div>
                    </div>
                    <div class="widget-body clearfix">
                      <div class="pull-left">
                        <i class="fas fa-warehouse"></i>
                      </div>
                      <div class="pull-right number">@ViewBag.available</div>
                    </div>

               
                  </div>
                </div>
        </div>
    </div>
</div>
        


@*<script src="~/Scripts/Custom_js/add_property.js"></script>
<script src="~/Scripts/Custom_js/sale_property.js"></script>
<script src="~/Scripts/Custom_js/installment_receipt_voucher.js"></script>
<script src="~/Scripts/Custom_js/propertyview.js"></script>
<script src="~/Scripts/Custom_js/add_project.js"></script>   
<script src="~/Scripts/Custom_js/add_broker.js"></script>
<script src="~/Scripts/Custom_js/dashboard.js"></script>
<script src="~/Scripts/Custom_js/resale_property.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>*@


<script>  
    $.ajax({  
        type: "POST",  
        url: "/Dashboard_Main_Page/NewChart",
        contentType: "application/json; charset=utf-8",  
        dataType: "json",  
        success: function (chData) {  
        var aData = chData;  
        var aLabels = aData[0];  
        var aDatasets1 = aData[1];  
        var dataT = {  
            labels: aLabels,  
            datasets: [{  
                label: "Test Data",  
                data: aDatasets1,  
                fill: false,  
                backgroundColor: ["rgba(54, 162, 235, 0.2)", "rgba(255, 99, 132, 0.2)", "rgba(0, 128, 0, 0.4)", "rgba(255, 205, 86, 0.2)", "rgba(75, 192, 192, 0.2)", "rgba(153, 102, 255, 0.2)", "rgba(201, 203, 207, 0.2)"],  
                borderColor: ["rgb(54, 162, 235)", "rgb(255, 99, 132)", "rgb(255, 159, 64)", "rgb(255, 205, 86)", "rgb(75, 192, 192)", "rgb(153, 102, 255)", "rgb(201, 203, 207)"],  
                borderWidth: 1  
                }]  
            };  
        var ctx = $("#myChart").get(0).getContext("2d");  
        var myNewChart = new Chart(ctx, {  
            type: 'pie',  
            data: dataT,  
            options: {  
                responsive: true,  
                title: { display: true, text: 'Properties Chart' },  
                legend: { position: 'right' },  
                scales: {  
                xAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: false, labelString: '' } }],  
                yAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: false, labelString: '' }, ticks: { stepSize: 50, beginAtZero: true } }]  
            },  
        }  
        });  
    }  
});  
</script> 