﻿

<div class="container" ng-controller="dashboardController as dash">
<div ui-view>
    
</div>

    </div>

<script src="~/Scripts/Custom_js/add_property.js"></script>
<script src="~/Scripts/Custom_js/sale_property.js"></script>
<script src="~/Scripts/Custom_js/installment_receipt_voucher.js"></script>
<script src="~/Scripts/Custom_js/propertyview.js"></script>
<script src="~/Scripts/Custom_js/add_project.js"></script>   
<script src="~/Scripts/Custom_js/add_broker.js"></script>
<script src="~/Scripts/Custom_js/dashboard.js"></script>
<script src="~/Scripts/Custom_js/resale_property.js"></script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>
