﻿@{
    ViewBag.Title = "Index";
    Layout = null;
}


<div ng-controller="PropertyViewListController as PV">
<div class="container">
    <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                          <strong>Properties General View </strong>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" datatable="">
                                <thead>
                                    <tr>
                                        <th>Property No.</th>
                                        <th>Project Name</th>
                                        <th>Category</th>
                                        <th>Size(LxW)</th>
                                        <th>Marla</th>
                                        <th>Area</th>
                                        <th>Rate</th>
                                        <th>Property Amount</th>
                                        <th>Total Amount</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   <tr ng-repeat="property in PV.properties">
                                       <td>{{property.property_id}}</td>
                                       <td>{{ property.project_name}}</td>
                                       <td>{{ property.category}}</td>
                                       <td>{{ property.length + 'x' + property.width}}</td>
                                       <td>{{ property.marla}}</td>
                                       <td>{{ property.covered_area}}</td>
                                       <td>{{property.rate}}</td>
                                       <td>{{property.amount}}</td>
                                       <td>{{property.total_cost}}</td>
                                       <td>{{property.total_amount}}</td>
                                       <td>{{property.status}}</td>
                                       
                                   </tr>
                                    
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>

</div>
</div>

<div style="padding:10px; border:1px solid black">
    <div><a href="@Url.Action("Report",new {id= "PDF"})" target="_blank"> Get Report PDF</a></div>
    <div><a href="@Url.Action("Report",new {id= "Excel"})" target="_blank"> Get Report Excel</a></div>
    <div><a href="@Url.Action("Report",new {id= "Word"})" target="_blank"> Get Report Word</a></div>
    </div>

<script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            iDisplayLength: 50,
            bAutoWidth: false,
            responsive: true
        });
    });
    </script>