﻿<div>
<div class="row">
    <div class="col-lg-12">
                            <div class="input-group">
                            <span class="input-group-addon radius">Pay Mode:</span>
                            <select ng-model="Sale.send.payment_mode" class="form-control radius input-sm">
                                <option>Select Pay Mode</option>
                                <option>8 Years Plan</option>
                                <option>5 Years Plan</option>
                            </select>
                        </div>
        </div>
   </div>
                        <br />
                        
                        <div class="row">
                            <div class="col-lg-12">
                            <div class="input-group">
                            <span class="input-group-addon radius">Per Inst :</span>
                            <input type="text" class="form-control radius input-sm" ng-model="Sale.send.per_installment" valid-dir disabled/>
                            
                        </div>
                                </div>
                        </div>
</div>