﻿

<div>
                        
                        <div class="row">
                            <div class="col-lg-12">
                            <div class="input-group">
                            <span class="input-group-addon radius">Payment :</span>
                            <input type="text" class="form-control radius input-sm" ng-model="Sale.send.payment" valid-dir-am payment-calculation pay="Sale.chk()" ng-cloak />
                            
                        </div>
                            </div>
                        </div>
</div>

<!--calculate" payment="Sale.payment" amount="Sale.amount" dif="Sale.difference"-->