﻿@{
    ViewBag.Title = "Add_Project";
    Layout = null;
}
<div ng-controller="projectController as project">
<div class="container">
<h2>Add New Project</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#menu1" data-toggle="tab" class="radius">Add Project</a></li>
        <li><a href="#menu2" data-toggle="tab" class="radius">Projects List</a></li>
    </ul>
    <div class="tab-content">
        <div id="menu1" class="tab-pane fade in active">
            <div class="panel panel-default radius">
                <div class="panel-body">
                    <form class="form">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon radius">Sr : </span>
                            <input type="number" ng-change="project.fetchEdit(this)" class="form-control radius input-sm" ng-model="project.project_id"/>
                            <input type="hidden" ng-model="project.hiddenId" />
                        </div>
                                <br />
                                <div class="input-group">
                            <span class="input-group-addon radius">Pro. Name : </span>
                            <input type="text" class="form-control radius input-sm" ng-model="project.project_name" validation-data-text id="p_name"/>
                        </div>
                                <br />
                                <div class="input-group">
                            <span class="input-group-addon radius">Description : </span>
                            <input type="text" class="form-control radius input-sm" ng-model="project.description" validation-data-text/>
                        </div>
                        </div>
                            </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-4">
                                <button type="button" ng-click="project.save()" class="btn btn-primary radius" style="width : 100px;"><i class="fa fa-save"></i> &nbsp;Save</button>
                                <button type="button" ng-click="project.reset()" class="btn btn-primary radius" style="width : 100px;"><i class="fa fa-refresh"></i> &nbsp; Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="menu2" class="tab-pane fade">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default radius">
                        <div class="panel-body">
                            <table class="table table-striped table-responsive table-bordered">
                                <thead>
                                <tr>
                                    <th>Project ID</th>
                                    <th>Project Name</th>
                                    <th>Project Description</th>
                                </tr>
                                    </thead>
                                <tbody>
                                <tr ng-repeat="p in project.populateTab">
                                    <td>{{p.project_id}}</td>
                                    <td>{{p.project_name}}</td>
                                    <td>{{p.description}}</td>
                                </tr>
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
    </div>
@section scripts{
    <script src="~/Scripts/Custom_js/add_project.js"></script>
}