﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-datatables.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>  
    
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <link href="~/Content/icons/fa/css/all.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">*@
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Custom_css/Manip_bootstrap.css" rel="stylesheet" />
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <link href="@Url.Content("~/Content/Custom_css/style.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/loading-bar.min.js"></script>
    <link href="~/Content/loading%20bar/loading-bar.min.css" rel="stylesheet" />
    <!-- DataTables CSS -->
    <link href="~/Content/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="~/Content/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
    <style>
        #login .container #login-row #login-column #login-box {
              margin-top: 120px;
              max-width: 600px;
              height: 320px;
              border: 1px solid #9C9C9C;
              background-color: #EAEAEA;
            }
            #login .container #login-row #login-column #login-box #login-form {
              padding: 20px;
            }
            #login .container #login-row #login-column #login-box #login-form #register-link {
              margin-top: -85px;
            }
        .card .card-header .card-actions {
          float: right; }
          .card .card-header .card-actions [class*="btn"] {
            border-left: 1px solid rgba(120, 130, 140, 0.4);
            color: #878787;
            display: inline-block;
            font-size: 16px;
            float: left;
            padding: 0 7px;
            width: inherit;
            text-align: center; }

          .social-buttons .card-body p button {
          padding-top: 0;
          padding-left: 0;
          padding-bottom: 0; }
        .social-buttons .only-icon .card-body p button {
          padding: 0; }

    </style>

    <base href="/">
</head>
<body ng-app="MainApp">
    <div ng-controller="dashboardController as dash">
    @RenderPage("navigationBar.cshtml")
    <div style="margin-bottom: 50px;"></div>
    @RenderPage("sidebar.cshtml")
        </div>
    @RenderBody()

    <div style="margin-top: 80px;"></div>
    @*@Scripts.Render("~/bundles/jquery")*@
    
    <!---------------Custom Js------------------->
    
    @RenderSection("scripts", required: false)
    <script src="~/Content/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/vendor/datatables-responsive/dataTables.responsive.js"></script>
</body>
</html>
