﻿@*@{
    ViewBag.Title = "navigationBar";
}
*@
<nav class="navbar navbar-default navbar-fixed-top radius marg-bottom-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
        <div class="row">
            <div class="col-md-4">
        <img id="logoimg" src="~/Content/Images/logo.png" height="51px" />
                </div>
            <div class="col-md-8">
      <a class="navbar-brand" href="#">Property Sale Management</a>
</div>
            </div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      @*<ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li> 
        <li><a href="#">Page 3</a></li> 
      </ul>*@
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/Login/Logout" target ="_blank"><span class="glyphicon glyphicon-user"></span> Sign Out</a></li>
          
        @*<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>*@
      </ul>
    </div>
  </div>
</nav>