﻿
@*<link href="@Url.Content("~/Content/Custom_css/style.css")" rel="stylesheet" type="text/css"/>*@


@*@section Styles {
    <link href="@Url.Content("~/Content/Custom_css/style.css")" rel="stylesheet" type="text/css" />
}
    *@
<div>
    <div class="side-nav">
        <nav>
            <ul>
                <li>
                    <a ui-sref="main()" data-toggle="tooltip" title="Dashboard" data-placement="right">
                    <span><i class="fa fa-home"></i> </span>
                    
                    </a>
                    <!-- <ul>
                        <li><a href="#">Add new User</a></li>
                        <li><a href="#">Add new User</a></li>
                        <li><a href = "#">Add new User</a></li>
                        <li><a href="#">Add new User</a></li>
                    </ul> -->
                </li>
                <li>
                    <a ui-sref="addProperty()" data-toggle="tooltip" title="Add Property" data-placement="right">
                    <span><i class="fa fa-address-book"></i> </span>
                    
                    </a>
                    <!-- <ul>
                        <li><a href="#">Add new User</a></li>
                        <li><a href="#">Add new User</a></li>
                        <li><a href = "#">Add new User</a></li>
                        <li><a href="#">Add new User</a></li>
                    </ul> -->
                </li>
                <li>
                        <a ui-sref="saleProperty()" data-toggle="tooltip" data-placement="right" title="Sale Property">
                        <span><i class="fa fa-address-card" aria-hidden="true"></i></span>
                        
                        </a>
                    </li>
                    <li>
                            <a ui-sref="installment()" data-toggle="tooltip" data-placement="right" title="Installment Voucher">
                            <span><i class="fa fa-receipt"></i></span>
                            
                            </a>
                        </li>
                        <li>
                                <a ui-sref="resale()" data-toggle="tooltip" data-placement="right" title="Resale Property">
                                <span><i class="fa fa-retweet"></i></span>
                                </a>
                         </li>
                         <li>
                                <a ui-sref="propertyview()" data-toggle="tooltip" data-placement="right" title="Properties View">
                                <span><i class="fa fa-list-alt"></i></span>
                                </a>
                         </li>
                         <li>
                                <a ui-sref="addproject()" data-toggle="tooltip" data-placement="right" title="Add Project">
                                <span><i class="fa fa-project-diagram"></i></span>
                                </a>
                         </li>
                          <li>
                                <a ui-sref="addbroker()" data-toggle="tooltip" data-placement="right" title="Add Broker">
                                <span><i class="fa fa-user-secret"></i></span>
                                </a>
                         </li>

            </ul>
        </nav>
    </div>
    
</div>
