﻿body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
	-webkit-print-color-adjust: exact;
    color: rgb(51, 51, 51);
}

th.blue {
	background: #08C;
	color: #FFF;
}

.table {
    width: 100%;
    margin-bottom: 20px;
}

table {
    max-width: 100%;
    background-color: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
}

.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    border-top: 0px none;
}
.table > thead > tr > th {
	-webkit-print-color-adjust: exact;
    vertical-align: bottom;
    border-bottom: 2px solid rgb(221, 221, 221);
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    -webkit-print-color-adjust: exact;
	padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid rgb(221, 221, 221);
}