﻿@{
    ViewBag.Title = "Add_Property";
    Layout = null;
}
<div ng-controller="AddPropertyController as AddProperty">
<div class="container">
<h2>Add New Property</h2>
    <form role="form">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="panel panel-default radius">
                <div class="panel-heading">Property Details</div>
                <div class="panel-body">
                    
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Serial Number #:</span>
                            <input type="number" class="form-control radius input-sm " ng-model="AddProperty.id" id="id" valid-dir/>
                                    <input type="hidden" ng-model="AddProperty.hiddenid" />
                        </div> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="input-group">
                            <span class="input-group-addon radius ">Date :</span>
                            <input type="date" class="form-control radius input-sm side-elem" ng-model="AddProperty.date" id="date" valid-dir disabled/>
                        </div>
                            </div>
                        </div>
                        <br />
                        <div class="row col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Project :</span>
                                <select class="form-control radius input-sm" ng-model="AddProperty.project_id" id="project_id" valid-dir >
                                    
                                    <option  ng-repeat="p in AddProperty.projects" value="{{p.project_id}}">{{p.project_name}}</option>
                                    @*<option ng-repeat="p in projects" value="{{p.project_id}}">{{p.project_name}}</option>*@
                                </select>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Sector :</span>
                                <select class="form-control radius input-sm " ng-model="AddProperty.sector_id" id="sector_id" valid-dir>
                                    
                                    <option ng-repeat="s in AddProperty.sectors" value="{{s.sector_id}}">{{s.sector_name}}</option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">House #:</span>
                            <input type="text" class="form-control radius input-sm " disabled ng-model="AddProperty.house_no" id="house_no" valid-dir num-dir/>
                        </div> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Street :</span>
                            <input type="text" class="form-control radius input-sm side-elem" ng-model="AddProperty.street_no" id="street_no" valid-dir num-dir />
                        </div>
                            </div>
                        </div>
                        <br />
                        
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Length:</span>
                            <input type="text" class="form-control radius input-sm " ng-model="AddProperty.length" id="length" valid-dir num-dir ng-change="AddProperty.calculation()"/>
                        </div> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Width :</span>
                            <input type="text" class="form-control radius input-sm side-elem" ng-model="AddProperty.width" id="width" valid-dir num-dir ng-change="AddProperty.calculation()"/>
                        </div>
                            </div>
                        </div>
                        <br />
                        
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Sq/Marla :</span>
                            <input type="text" class="form-control radius input-sm " ng-model="AddProperty.marla" id="marla" valid-dir num-dir disabled/>
                        </div> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Area :</span>
                            <input type="text" class="form-control radius input-sm side-elem" ng-model="AddProperty.covered_area" id="covered_area" valid-dir num-dir disabled/>
                        </div>
                            </div>
                        </div>
                        <br />
                        
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius borderRight">Rate Criteria :</span>
                        </div> 
                            </div>
                            
                            <div class="col-lg-6 col-md-6" id="rate_criteria" style="width : 232px;" valid-dir>
                                <label class="radio-inline"><input type="radio" ng-model="AddProperty.rate_criteria" value="Per Marla" name="optradio" ng-change="AddProperty.chk()"/> Per Marla</label>
                                    <label class="radio-inline"><input type="radio" ng-model="AddProperty.rate_criteria" value="Per Square" name="optradio" ng-change="AddProperty.chk()"/> Per Sqare/ft</label>
                            </div>
                        </div>

                        <br />
                        
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Rate :</span>
                            <input type="text" class="form-control radius input-sm " ng-disabled="AddProperty.m" ng-model="AddProperty.rate" id="rate" rate-cal rate-fn="AddProperty.rateCal1()" valid-dir num-dir/>
                        </div> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Amount :</span>
                            <input type="text" class="form-control radius input-sm side-elem" ng-model="AddProperty.amount" id="amount" valid-dir num-dir disabled/>
                        </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon radius borderRight">Total Amount :</span>
                                    <input type="text" class="form-control radius input-sm" style="width: 392px;" ng-model="AddProperty.total_amount" id="total_amount" valid-dir num-dir disabled/>
                                </div>
                            </div>

                        </div>
                        <br />
                        <div class="row col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Category :</span>
                                <select class="form-control radius input-sm " ng-model="AddProperty.category" id="category" valid-dir>
                                    
                                    <option>Plot</option>
                                    <option>House</option>
                                    <option>Shop</option>
                                </select>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="panel panel-default radius">
                <div class="panel-heading">Building Details</div>
                <div class="panel-body">
<div class="row col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Bed Room :</span>
                                <select class="form-control radius input-sm " ng-model="AddProperty.bed_room" id="bed_room">
                                    <option selected>0</option>
                                    <option selected>1</option>
                                    <option selected>2</option>
                                    <option selected>3</option>
                                    <option selected>4</option>
                                    <option selected>5</option>
                                    <option selected>6</option>
                                    <option selected>7</option>
                                    <option selected>8</option>
                                    <option selected>9</option>
                                    <option selected>10</option>
                                </select>
                            </div>
                        </div>
                    <br />
                    <br />
                    <div class="row col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Loug.G.Flr. :</span>
                                <select class="form-control radius input-sm " ng-model="AddProperty.lounge_ground_floor" id="loung_ground_floor">
                                    <option selected>0</option>
                                    <option selected>1</option>
                                    <option selected>2</option>
                                    <option selected>3</option>
                                    <option selected>4</option>
                                    <option selected>5</option>
                                    <option selected>6</option>
                                    <option selected>7</option>
                                    <option selected>8</option>
                                    <option selected>9</option>
                                    <option selected>10</option>
                                </select>
                            </div>
                        </div>
                    <br />
                    <br />
                    <div class="row col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Taris :</span>
                                <select class="form-control radius input-sm " ng-model="AddProperty.taris" id="taris">
                                    <option selected>0</option>
                                    <option selected>1</option>
                                    <option selected>2</option>
                                    <option selected>3</option>
                                    <option selected>4</option>
                                    <option selected>5</option>
                                    <option selected>6</option>
                                    <option selected>7</option>
                                    <option selected>8</option>
                                    <option selected>9</option>
                                    <option selected>10</option>
                                </select>
                            </div>
                        </div>
                    <br />
                    <br />
                    <div class="row col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Bath :</span>
                                <select class="form-control radius input-sm " ng-model="AddProperty.bath" id="bath">
                                    <option selected>0</option>
                                    <option selected>1</option>
                                    <option selected>2</option>
                                    <option selected>3</option>
                                    <option selected>4</option>
                                    <option selected>5</option>
                                    <option selected>6</option>
                                    <option selected>7</option>
                                    <option selected>8</option>
                                    <option selected>9</option>
                                    <option selected>10</option>
                                </select>
                            </div>
                        </div>
                    <br />
                    <br />
                    <div class="row col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Kitchen :  </span>
                                <select class="form-control radius input-sm " ng-model="AddProperty.kitchen" id="kitchen">
                                    <option selected>0</option>
                                    <option selected>1</option>
                                    <option selected>2</option>
                                    <option selected>3</option>
                                    <option selected>4</option>
                                    <option selected>5</option>
                                    <option selected>6</option>
                                    <option selected>7</option>
                                    <option selected>8</option>
                                    <option selected>9</option>
                                    <option selected>10</option>
                                </select>
                            </div>
                        </div>
                    <br />
                    <br />
                    <div class="row col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Srvnt. Rom :</span>
                                <select class="form-control radius input-sm " ng-model="AddProperty.servent_room" id="servent_room">
                                    <option selected>0</option>
                                    <option selected>1</option>
                                    <option selected>2</option>
                                    <option selected>3</option>
                                    <option selected>4</option>
                                    <option selected>5</option>
                                    <option selected>6</option>
                                    <option selected>7</option>
                                    <option selected>8</option>
                                    <option selected>9</option>
                                    <option selected>10</option>
                                </select>
                            </div>
                        </div>
                    <br />
                    <br />
                    <div class="row col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Draw. Rom :</span>
                                <select class="form-control radius input-sm " ng-model="AddProperty.drawing_room" id="drawing_room">
                                   <option selected>0</option>
                                    <option selected>1</option>
                                    <option selected>2</option>
                                    <option selected>3</option>
                                    <option selected>4</option>
                                    <option selected>5</option>
                                    <option selected>6</option>
                                    <option selected>7</option>
                                    <option selected>8</option>
                                    <option selected>9</option>
                                    <option selected>10</option>
                                </select>
                            </div>
                        </div>
                    <br />
                    <br />
                    <div class="row col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Loug.F.Flor :</span>
                                <select class="form-control radius input-sm " ng-model="AddProperty.lounge_first_floor">
                                   <option selected>0</option>
                                    <option selected>1</option>
                                    <option selected>2</option>
                                    <option selected>3</option>
                                    <option selected>4</option>
                                    <option selected>5</option>
                                    <option selected>6</option>
                                    <option selected>7</option>
                                    <option selected>8</option>
                                    <option selected>9</option>
                                    <option selected>10</option>
                                </select>
                            </div>
                        </div>
                    
                    <br />
                    <br />
                    <div class="row col-lg-12">
                    <hr />
                        </div>
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-lg-12">
                        <div class="input-group">
                        <span class="input-group-addon radius">Cost</span>
                        <input type="text" class="form-control radius input-sm" style="width : 392px;" ng-model="AddProperty.cost" num-dir/>
                            </div>
                            </div>
                    </div>
                    <br />
                    <p> </p>
                    <p></p>
                    <div class="row text-right col-lg-12">
                        <button type="button" class="btn btn-primary radius" ng-click="AddProperty.addCost()">Add Building Cost</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end row-->

        <div class="row">
            <div class="text-right">
            <button type="button" class="btn btn-primary radius" ng-click="AddProperty.save()"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Save</button>
            <button type="button" class="btn btn-primary radius" ng-click="AddProperty.reset()"><i class="fa fa-refresh"></i>&nbsp;&nbsp;&nbsp;Reset</button>
                </div>
        </div>
        </form>
    @*<input type="text" ng-click="AddProperty.rateCal1()"/>*@
</div>
    @*<input type="text" rate-cal rate-fn="AddProperty.rateCal1()"/>*@
    
    </div>



@section scripts{
    <script src="~/Scripts/Custom_js/add_property.js"></script>
}