﻿
<div class="row col-lg-12">
                            <div class="input-group">
                            <span class="input-group-addon radius">Pay Mode:</span>
                            <select class="form-control radius input-sm">
                                <option>Select Pay Mode</option>
                                <option>Net Payment</option>
                                <option>Installments</option>
                            </select>
                        </div>
                        </div>
                        <br />
                        <br />
                        <div class="row col-lg-12">
                            <div class="input-group">
                            <span class="input-group-addon radius">Payment :</span>
                            <input type="text" class="form-control radius input-sm" />
                            
                        </div>
                        </div>