﻿    .error {
        border : 1px solid red !important;
    }
    .radius {
        border-radius : 0 !important;
    }
.label-span {
    padding : 2px !important;
    height : 10px !important;
    min-width: 50px !important;

}
.txt-addon {
	/*background-color: #368EE4 !important;*/
	color: #fff !important;
}
.sm-txt {
        width: 150px !important;
    height: 25px;
    padding : 4px;
}
.side-elem {
width: 116px !important;
}
.borderRight {
border-right : 1px solid #ccc !important;
border-left:  1px solid #ccc !important;
    padding-right: 0px;
    padding-left: 0px;
    width: 100px;
    min-width: 100px !important;
}
/*.side-elem-sale {
width: 109px !important;
}*/

/*Animations*/
div#display.ng-enter {
    transition : 0.5s linear all;
    opacity : 0;
}
div#display.ng-enter.ng-enter-active {
    
    opacity : 1;
}
.sm-label {
    min-width: 40px !important;
}
.marg-bottom-navbar {
    margin-bottom:0px !important;
}
.red {
    border: 1px solid red;
}
#logoimg {
}
.navbar-brand {
    font-size : 15px !important;
}
.form-control[readonly] {
cursor : default !important;
background : none !important;
}
/**/
div.file-input {
    display: inline-block;
    width: 100%;
    max-width : 200px;
    height : 40px;
    background : #39B3D7;
    margin : 0;
    padding : 0;
    position : relative;
    z-index : 1;
}
    div.file-input > input[type="file"] {
        float : left;
        width : 100%;
        height : 100%;
        margin : 0;
        padding : 0;
        cursor : pointer;
        position : relative;
        z-index : 4;
        opacity : 0;
    }
    div.file-input > span {
        position: absolute;
        top : 9px;
        left : 70px;
        font-size : 16px;
        color : #ffffff;
    }
.label-box-manual {
    text-align : center;
}

.widget {
    margin: 0 0 25px 0;
    display: block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border : 1px solid #e7e7e7;
}
.widget .widget-heading {
    padding: 7px 15px;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    text-transform: uppercase;
    text-align: center;
    background: #38BDFF;
    color: white;
}
.widget .widget-body {
    padding: 10px 15px;
    font-size: 36px;
    font-weight: 300;
    