body{
    margin:0;
    padding : 0;
}
*{
    box-sizing: border-box;
}
/*.header{
    position : absolute;
    height: 300px;
    width : 100%;
    background-color : #3e454c;
    z-index : 4;
    border-bottom  : 0.5px solid #fff;
}
 .header img{
    height : 55px;
    width : 55px;
    padding : 4px 0px 0px 4px;
    margin-left : 10px;
}*/ 
.side-nav{
    position: fixed;
    width:100%;
    background-color : #f8f8f8;
    
    height : 100%;
    z-index : 3;
    padding-top : 10px;
}
.side-nav ul{
    list-style: none;
    margin : 0;
    padding : 0;
    
}
.side-nav ul ul{
    margin-left : 70px;
    margin-top : -70px;

    
}
.side-nav ul ul li{
    width : 100px;
    color : #fff;
   
    
}
.side-nav ul ul li{
    background: #3e454c;
    border-left: 1px solid #fff; 
    padding-bottom: 60px;
}
.side-nav ul li{
   height : 60px;
    border-bottom: 1px solid;
    border-color: #fff;
    line-height: 60px;
    border-color: #EFEFF2;
    
}
    .side-nav ul li:hover {
        transition : ease-in-out font-size linear 0.5s;
        font-size : 30px;
    }
.side-nav ul li a{
    text-decoration : none;
    color : #fff;
    display: block;
}

.side-nav ul li a i{
    color : #000;
}
.side-nav ul li:hover{
    color : #1784c7 !important;
}

/*Media Queries*/
@media screen and (min-width : 600px){
    .side-nav{
        width : 70px;
    }
    .side-nav ul li span:nth-child(2){
        display : none;
    }
    .side-nav ul li{
        text-align : center;
    }
    .side-nav ul li i{
        font-size : 26px;
    }
}
@media screen and (max-width : 360px){
    .side-nav{
        width : 50px;
    }
    .side-nav ul li span:nth-child(2){
        display : none;
    }
    .side-nav ul li{
        text-align : center;
    }
    .side-nav ul li i{
        font-size : 14px;
    }
    .main-content{
        padding-top:65px;
        margin-left : 70px;
    }
}