﻿@{
    ViewBag.Title = "Add_Property";
}
<div class="container">
<h2>Add New Property</h2>
    <form role="form">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="panel panel-default radius">
                <div class="panel-heading">Property Details</div>
                <div class="panel-body">
                    
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Sr #:</span>
                            <input type="number" class="form-control radius input-sm " />
                        </div> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="input-group">
                            <span class="input-group-addon radius ">Date :</span>
                            <input type="date" class="form-control radius input-sm side-elem" />
                        </div>
                            </div>
                        </div>
                        <br />
                        <div class="row col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Project :</span>
                                <select class="form-control radius input-sm">
                                    <option>Select Project</option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Sector :</span>
                                <select class="form-control radius input-sm ">
                                    <option>Select Sector</option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">House #:</span>
                            <input type="text" class="form-control radius input-sm " />
                        </div> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Street :</span>
                            <input type="text" class="form-control radius input-sm side-elem" />
                        </div>
                            </div>
                        </div>
                        <br />
                        
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Length:</span>
                            <input type="text" class="form-control radius input-sm " />
                        </div> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Width :</span>
                            <input type="text" class="form-control radius input-sm side-elem" />
                        </div>
                            </div>
                        </div>
                        <br />
                        
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Sq/Marla :</span>
                            <input type="number" class="form-control radius input-sm " />
                        </div> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Area :</span>
                            <input type="text" class="form-control radius input-sm side-elem" />
                        </div>
                            </div>
                        </div>
                        <br />
                        
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="input-group">
                            <span class="input-group-addon radius borderRight">Rate Criteria :</span>
                        </div> 
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3"></div>
                            <div class="col-lg-6 col-md-6 col-sm-6 ">
                                <label class="radio-inline"><input type="radio" value="marla" name="optradio"/> Per Marla</label>
                                    <label class="radio-inline"><input type="radio" value="sqr" name="optradio"/> Per Sqare/ft</label>
                            </div>
                        </div>

                        <br />
                        
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Rate :</span>
                            <input type="number" class="form-control radius input-sm " />
                        </div> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Amount :</span>
                            <input type="text" class="form-control radius input-sm side-elem" />
                        </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon radius borderRight">Total Amount :</span>
                                    <input type="text" class="form-control radius input-sm" style="width: 392px;" />
                                </div>
                            </div>

                        </div>
                        <br />
                        <div class="row col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Remarks :</span>
                                <select class="form-control radius input-sm ">
                                    <option>Select Category</option>
                                </select>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="panel panel-default radius">
                <div class="panel-heading">Building Details</div>
                <div class="panel-body">
<div class="row col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Bed Room :</span>
                                <select class="form-control radius input-sm ">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    <br />
                    <br />
                    <div class="row col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Loug.G.Flr. :</span>
                                <select class="form-control radius input-sm ">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    <br />
                    <br />
                    <div class="row col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Taris :</span>
                                <select class="form-control radius input-sm ">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    <br />
                    <br />
                    <div class="row col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Bath :</span>
                                <select class="form-control radius input-sm ">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    <br />
                    <br />
                    <div class="row col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Kitchen :  </span>
                                <select class="form-control radius input-sm ">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    <br />
                    <br />
                    <div class="row col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Srvnt. Rom :</span>
                                <select class="form-control radius input-sm ">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    <br />
                    <br />
                    <div class="row col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Draw. Rom :</span>
                                <select class="form-control radius input-sm ">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    <br />
                    <br />
                    <div class="row col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Loug.F.Flor :</span>
                                <select class="form-control radius input-sm ">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    
                    <br />
                    <br />
                    <div class="row col-lg-12">
                    <hr />
                        </div>
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-lg-12">
                        <div class="input-group">
                        <span class="input-group-addon radius">Cost</span>
                        <input type="text" class="form-control radius input-sm" style="width : 392px;" />
                            </div>
                            </div>
                    </div>
                    <br />
                    
                    <div class="row text-right col-lg-12">
                        <button type="button" class="btn btn-primary radius">Add Building Cost</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end row-->

        <div class="row">
            <div class="text-right">
            <button type="button" class="btn btn-primary radius"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Save</button>
            <button type="button" class="btn btn-primary radius"><i class="fa fa-refresh"></i>&nbsp;&nbsp;&nbsp;Reset</button>
                </div>
        </div>
        </form>

</div>