﻿@{
    ViewBag.Title = "Add_Project";
}
<div class="container">
<h2>Add New Project</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#menu1" data-toggle="tab">Add Project</a></li>
        <li><a href="#menu2" data-toggle="tab">Projects List</a></li>
    </ul>
    <div class="tab-content">
        <div id="menu1" class="tab-pane fade in active">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon radius">Sr : </span>
                            <input type="number" class="form-control radius"/>
                        </div>
                                <br />
                                <div class="input-group">
                            <span class="input-group-addon radius">Pro. Name : </span>
                            <input type="text" class="form-control radius"/>
                        </div>
                                <br />
                                <div class="input-group">
                            <span class="input-group-addon radius">Description : </span>
                            <input type="text" class="form-control radius"/>
                        </div>
                        </div>
                            </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-4">
                                <button type="button" class="btn btn-primary radius"><i class="fa fa-save"></i> &nbsp;Save</button>
                                <button type="button" class="btn btn-primary radius"><i class="fa fa-refresh"></i> &nbsp; Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="menu2" class="tab-pane fade">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table class="table table-responsive table-bordered">
                                <thead>
                                <tr>
                                    <th>Project ID</th>
                                    <th>Project Name</th>
                                    <th>Project Description</th>
                                </tr>
                                    </thead>
                                <tbody>
                                <tr>
                                    <td>Demo</td>
                                    <td>Demo</td>
                                    <td>Demo</td>
                                </tr>
                                    </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</>