﻿@{
    ViewBag.Title = "Add_Broker";
}

<div ng-controller="brokerController">
<div class="container">
    <h3>Add New Broker</h3>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#menu1" class="radius">Add New Broker</a></li>
        <li><a data-toggle="tab" href="#menu2" class="radius">Broker List</a></li>
    </ul>
    <div class="tab-content">
        <div id="menu1" class="tab-pane fade in active">
            <div class="panel-group">
            <div class="panel panel-default radius">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="panel-body">
                    <form name="addBrokerForm" class="form" novalidate>
                <div class="input-group">
                    <span class="input-group-addon radius">Sr :</span>
                    <input type="number" name="broker.srno" class="form-control radius" ng-required="true" ng-model="broker_id" />
                </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon radius">Name : </span>
                            <input type="text" name="broker.name" validation-data-text class="form-control radius"  ng-required="true" ng-model="broker_name"/>
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon radius">Phone No : </span>
                            <input type="text" name="broker.phno" validation-data-num class="form-control radius" ng-required="true" ng-model="phone"/>
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon radius">Covered Ar.</span>
                            <input type="text" name="broker.area" class="form-control radius" ng-required="true" ng-model="area_covered"/>
                        </div>
                        <br />
                      <div>
                            <button type="submit" class="btn btn-primary radius" style="width: 100px;"><i class="fa fa-save"></i> Save</button>
                            <button type="button" class="btn btn-primary radius" style="width: 100px;"><i class="fa fa-refresh"></i> Reset</button>
                        </div>
                        
            </form>
                </div>
                    </div>
                    
                </div>
            </div>
                </div>
        </div>
        <div id="menu2" class="tab-pane fade">
            <div class="row">
                <div class="col-lg-12 col-xs-6 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                    <table class="table table-striped table-responsive">
                        <tr>
                            <th>Broker Id</th>
                            <th>Name </th>
                            <th>Phone No</th>
                            <th>Covered Area</th>
                        </tr>

                    </table>
                            </div>
                        </div>
                </div>

            </div>
        </div>
    </div>

    @*<div validation-data ng-model="hr"></div>*@

</div>

    </div>
@section scripts{
    <script src="~/Scripts/Custom_js/add_broker.js"></script>
}
