﻿@{
    ViewBag.Title = "Installment_Receipt_Voucher";
}
<div ng-controller="installment_voucher_controller">
<div class="container">
    <div class="row">
        <div class="col-md-6">
<h2>Installment Receipt Voucher</h2>
            </div>
        <div class="col-md-6">
            <div class="tab-content">
            <br />
            <div class="menu1 tab-pane fade in active text-right">
                <button type="button" class="btn btn-primary radius" style="width: 100px;">Save</button>
                <button type="button" class="btn btn-primary radius" style="width: 100px;">Reset</button>
                </div>
                <div class="menu2 tab-pane fade"></div>
                </div>
        </div>
        </div>
    <ul class="nav nav-tabs">
        <li class="active"><a href=".menu1" data-toggle="tab" class="radius">Installment Receipt</a></li>
        <li><a href=".menu2" class="radius" data-toggle="tab">Installment Preview</a></li>
    </ul>
    <div class="tab-content">
        <div class="menu1 tab-pane fade in active">
            <div class="row">
                <div class="col-lg-6">
                    <br />
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                        <span class="input-group-addon radius">Vr# : </span>
                        <input type="text" class="form-control radius input-sm" />
                    </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                        <span class="input-group-addon radius">Date : </span>
                        <input type="date" class="form-control radius input-sm" />
                    </div>
                        </div>
                    </div>
                    <br />
                    <div class="panel panel-default radius">
                        <div class="panel-body">
                          <div class="row">
                              <div class="col-lg-6">
                                  <div class="input-group">
                        <span class="input-group-addon radius">Ref# : </span>
                        <input type="text" class="form-control radius input-sm" />
                    </div>
                              </div>
                          </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                        <span class="input-group-addon radius">Category : </span>
                        <input type="text" class="form-control radius input-sm" />
                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                        <span class="input-group-addon radius">Project : </span>
                        <input type="text" class="form-control radius input-sm" />
                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                        <span class="input-group-addon radius">Steet : </span>
                        <input type="text" class="form-control radius input-sm" />
                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                        <span class="input-group-addon radius">Sector : </span>
                        <input type="text" class="form-control radius input-sm" />
                    </div>
                                </div>
                            </div>

                            <br />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                        <span class="input-group-addon radius">Width : </span>
                        <input type="text" class="form-control radius input-sm" />
                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                        <span class="input-group-addon radius">Length : </span>
                        <input type="text" class="form-control radius input-sm" />
                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                        <span class="input-group-addon radius">Plot Area : </span>
                        <input type="text" class="form-control radius input-sm" />
                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                        <span class="input-group-addon radius">Marla/sqr : </span>
                        <input type="text" class="form-control radius input-sm" />
                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                        <span class="input-group-addon radius">Rate : </span>
                        <input type="text" class="form-control radius input-sm" />
                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                        <span class="input-group-addon radius">House/P# : </span>
                        <input type="text" class="form-control radius input-sm" />
                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                        <span class="input-group-addon radius">Cost : </span>
                        <input type="text" class="form-control radius input-sm" />
                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                        <span class="input-group-addon radius">Total Value : </span>
                        <input type="text" class="form-control radius input-sm" />
                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="panel panel-default radius">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="input-group">
                                        <span class="input-group-addon radius">Type : </span>
                                        <select class="form-control radius input-sm">
                                            <option>Select Payment Mode</option>
                                            <option>3 Years Plan</option>
                                            <option>5 Years Plan</option>
                                            <option>8 Years Plan</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <span class="input-group-addon radius">Installments</span>
                                        <input type="text" class="form-control radius input-sm" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <span class="input-group-addon radius">Installment#</span>
                                        <input type="text" class="form-control radius input-sm" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <span class="input-group-addon radius">Amount Due</span>
                                        <input type="text" class="form-control radius input-sm" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <span class="input-group-addon radius">Advance</span>
                                        <input type="text" class="form-control radius input-sm" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <span class="input-group-addon radius">Payment</span>
                                        <input type="text" class="form-control radius input-sm" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <span class="input-group-addon radius">Per Install.</span>
                                        <input type="text" class="form-control radius input-sm" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Remarks</span>
                                <input type="text" class="form-control radius input-sm" />
                        </div>
                                    </div>
                                </div>
                    </div>
                    
                </div>
                
            </div>
                <br />
                <p> </p>
                
                <br />
                <br />
                <div class="col-lg-6">
                    <div class="panel panel-default radius">
                        <div class="panel-body">
                            <br />
                    
                    <div class="text-center">

                    <div style="border: 1px solid #e6dbdb; width: 350px; height: 150px; margin-left : 100px;"></div>
                        </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                    <span class="input-group-addon radius">Name :</span>
                                    <input type="text" class="form-control radius input-sm" />
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius">F-Name :</span>
                                    <input type="text" class="form-control radius input-sm" />
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius input-sm">CNIC# :</span>
                                    <input type="text" class="form-control radius input-sm" />
                                    
                                </div>
                            <br />
                            <div class="input-group">
                                    <span class="input-group-addon radius">Address :</span>
                                    <input type="text" class="form-control radius input-sm" />
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius">P-Address :</span>
                                    <input type="text" class="form-control radius input-sm" />
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius input-sm">Mobile :</span>
                                    <input type="text" class="form-control radius input-sm" />
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius">Ph. Resrve:</span>
                                    <input type="text" class="form-control radius input-sm" />
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius">Ph. Office :</span>
                                    <input type="text" class="form-control radius input-sm" />
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius input-sm">Fax :</span>
                                    <input type="text" class="form-control radius input-sm" />
                                    
                                </div>
                        </div>

                    </div>

                        </div>
                    </div>
                </div>
        </div>
        
    </div>
        <div class="menu2 tab-pane fade">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon radius">Property No.</span>
                        <input type="text" class="form-control radius" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-responsive">
                        <tr>
                            <th>Vr# </th>
                            <th>Date</th>
                            <th>Plot No.</th>
                            <th>Total Cost</th>
                            <th>Total Amount</th>
                            <th>Payment Mode</th>
                            <th>Total Installment</th>
                            <th>Advance</th>
                            <th>Amount Due</th>
                            <th>Installment No.</th>
                            <th>Receive.Payment</th>
                            <th>Per Installment</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>

</div>
@section scripts{
    <script src="~/Scripts/Custom_js/installment_receipt_voucher.js"></script>
    
}