﻿@{
    ViewBag.Title = "Resale";
}
<div class="container">
    <div class="row">
        <div class="col-md-6">
<h2>Resale</h2>
            </div>
        <div class="col-md-6">
            <br />
            <div class="text-right">
                <button type="button" class="btn btn-primary radius" style="width: 100px; ">Save</button>
                <button type="button" class="btn btn-primary radius" style="width: 100px; ">Reset</button>
            </div>
        </div>

        </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default radius">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon radius">Plot No.</span>
                                <input type="text" class="form-control radius input-sm" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon radius">Date</span>
                                <input type="date" class="form-control radius input-sm" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Project</span>
                                <select class="form-control radius input-sm">
                                    <option>Select Project</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Sector</span>
                                <select class="form-control radius input-sm">
                                    <option>Select Sector</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon radius">Category</span>
                                <input type="text" class="form-control radius input-sm" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon radius">Area</span>
                                <input type="text" class="form-control radius input-sm" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon radius">Street</span>
                                <input type="text" class="form-control radius input-sm" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon radius">House</span>
                                <input type="text" class="form-control radius input-sm" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon radius">Width</span>
                                <input type="text" class="form-control radius input-sm" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon radius">Length</span>
                                <input type="text" class="form-control radius input-sm" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon radius">Marla</span>
                                <input type="text" class="form-control radius input-sm" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon radius">Total Cost</span>
                                <input type="text" class="form-control radius input-sm" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon radius">Rate</span>
                                <input type="text" class="form-control radius input-sm" />
                            </div>
                        </div>
                        <div class="col-md-6">
                           <p>Per Marla</p>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon radius">Total Amont</span>
                                <input type="text" class="form-control radius input-sm" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon radius">Mode</span>
                                <select class="form-control radius input-sm">
                                    <option>Select Mode</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon radius">Total.Inst</span>
                                <input type="text" class="form-control radius input-sm" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon radius">Receive.Inst</span>
                                <input type="text" class="form-control radius input-sm" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon radius">Advance</span>
                                <input type="text" class="form-control radius input-sm" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon radius">Receivable</span>
                                <input type="text" class="form-control radius input-sm" />
                            </div>
                        </div>
                    </div>
                    <br /> 
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon radius">Net Balance</span>
                                <input type="text" class="form-control radius input-sm" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon radius">Difference</span>
                                <input type="text" class="form-control radius input-sm" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
                    <div class="panel panel-default radius">
                        <div class="panel-body">
                            
                    
                    <div class="text-center">
                        
                    <div style='border: 1px solid #e6dbdb; width: 300px; height: 130px; margin-left : 120px;'>
                        <a href="" ng-click="" style="display : block;">
                            <img src="~/Content/Images/browse.png" />
                        </a>
                    </div>
                      
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                    <span class="input-group-addon radius">Name :</span>
                                    <input type="text" class="form-control radius input-sm" />
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius">F-Name :</span>
                                    <input type="text" class="form-control radius input-sm" />
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius input-sm">CNIC# :</span>
                                    <input type="text" class="form-control radius input-sm" />
                                    
                                </div>
                            <br />
                            <div class="input-group">
                                    <span class="input-group-addon radius">Address :</span>
                                    <input type="text" class="form-control radius input-sm" />
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius">P-Address :</span>
                                    <input type="text" class="form-control radius input-sm" />
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius input-sm">Mobile :</span>
                                    <input type="text" class="form-control radius input-sm" />
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius">Ph. Resrve:</span>
                                    <input type="text" class="form-control radius input-sm" />
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius">Ph. Office :</span>
                                    <input type="text" class="form-control radius input-sm" />
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius input-sm">Fax :</span>
                                    <input type="text" class="form-control radius input-sm" />
                                    
                                </div>
                        </div>

                    </div>

                        </div>
                    </div>
                </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default radius">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                        <span class="input-group-addon radius">Term</span>
                        <select class="form-control radius input-sm">
                            <option class="form-control">Select Term</option>
                            <option class="form-control">Net Payment</option>
                            <option class="form-control">Installment</option>
                        </select>
                    </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon radius">Discount</span>
                                <input type="text" class="form-control radius input-sm" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div ng-show="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Payment</span>
                                <input type="text" class="form-control radius input-sm" />
                            </div>
                        </div>

                    </div>
                        </div>
                    <br />
                    <div ng-show="">
                        <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Mode</span>
                                <select class="form-control radius input-sm">
                                    <option>Select Mode</option>
                                    
                                </select>
                            </div>
                        </div>

                    </div>
                        <br />
                        <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Per Inst.</span>
                                <input type="text" class="form-control radius input-sm" />
                            </div>
                        </div>

                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default radius">
                <div class="panel-body">
                    <br />
                    <br />
                    <div class="checkbox">
                        <label><input type="checkbox" value="" ng-model="chk">Broker Invoveled</label>
                        </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon radius">Broker</span>
                                <select class="form-control radius input-sm">
                                    <option>Select Mode</option>
                                    
                                </select>
                            </div>
                        </div>
                        
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon radius" ng-disabled="chk">% :</span>
                                <input type="text" class="form-control radius input-sm" ng-disabled="chk" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon radius">Commission</span>
                                <input type="text" class="form-control radius input-sm" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    </div>



@section scripts{
    <script src="~/Scripts/Custom_js/resale_property.js"></script>
}