﻿ @{
    ViewBag.Title = "Sale_Property";
}
<div ng-controller="sale_controller">
<div class="container">
<h2>Sale Property</h2>
    <form role="form">
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Property Details</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Sr #:</span>
                            <input class="form-control input-sm radius" type="text" />
                        </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Date :</span>
                            <input class="form-control input-sm side-elem-sale radius" type="date" />
                        </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <span class="input-group-addon radius">Plot No.</span>
                                    <input type="text" class="form-control radius input-sm" />
                                </div>
                            </div>
                        </div>
                        <br />
                        
                        <div class="row col-lg-12">
                            <div class="input-group">
                            <span class="input-group-addon radius">Project:</span>
                            <select class="form-control radius input-sm">
                                <option>Select Project</option>
                            </select>
                        </div>
                        </div>
                        <br />
                        <br />
                        <div class="row col-lg-12">
                            <div class="input-group">
                            <span class="input-group-addon radius">Sector:</span>
                            <select class="form-control radius input-sm">
                                <option>Select Sector</option>
                            </select>
                        </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                           <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Street#:</span>
                            <input class="form-control input-sm radius input-sm" type="text" />
                        </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">House# :</span>
                            <input class="form-control input-sm side-elem-sale radius" type="text" />
                        </div>
                            </div> 
                        </div>
                        <br />
                        <div class="row">
                           <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Width:</span>
                            <input class="form-control input-sm radius" type="text" />
                        </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Length :</span>
                            <input class="form-control input-sm side-elem-sale radius" type="text" />
                        </div>
                            </div> 
                        </div>
                        <br />
                        <div class="row">
                           <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Marla:</span>
                            <input class="form-control input-sm radius" type="text" />
                        </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Area :</span>
                            <input class="form-control input-sm side-elem-sale radius" type="text" />
                        </div>
                            </div> 
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <span class="input-group-addon radius">Rate :</span>
                                    <input type="text" class="form-control radius input-sm" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <p>Per Marla</p>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                           <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Cost :</span>
                            <input class="form-control input-sm radius" type="text" />
                        </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Tot.Amount :</span>
                            <input class="form-control input-sm side-elem-sale radius" style="width : 112px !important;" type="text" />
                        </div>
                            </div> 
                        </div>
                        <br />
                        <div class="row">
                           <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Term :</span>
                            <select ng-model="term" ng-change="template()" class="form-control radius input-sm">
                                <option value="">Select Term</option>
                                <option value="0">Net Payment</option>
                                <option value="1">Installments</option>
                            </select>
                        </div>
                              @* <div ng-if="show != null" class="col-lg-6" show-template n='{{show}}'>

            </div>*@
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Discount :</span>
                            <input class="form-control input-sm side-elem-sale radius" type="text" />
                        </div>
                            </div> 
                        </div>
                        <br />
                        <div class="row">
                           <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Advance :</span>
                            <input class="form-control input-sm radius" type="text" />
                        </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                            <span class="input-group-addon radius">Difference :</span>
                            <input class="form-control input-sm side-elem-sale radius" type="text" />
                        </div>
                            </div> 
                        </div>
                        <br />
                        <div ng-show="inst == 1" id="display">
                        
<div class="row col-lg-12">
                            <div class="input-group">
                            <span class="input-group-addon radius">Pay Mode:</span>
                            <select class="form-control radius input-sm">
                                <option>Select Pay Mode</option>
                                <option>3 Years Plan</option>
                                <option>5 Years Plan</option>
                            </select>
                        </div>
                        </div>
                        <br />
                        <br />
                        <div class="row col-lg-12">
                            <div class="input-group">
                            <span class="input-group-addon radius">Payment :</span>
                            <input type="text" class="form-control radius input-sm" />
                            
                        </div>
                        </div>
                            </div>
                        <div ng-if="sale == 0">
                            <div class="row col-lg-12">
                            <div class="input-group">
                            <span class="input-group-addon radius">Payment :</span>
                            <input type="text" class="form-control radius input-sm" />
                            
                        </div>
                        </div>
                        </div>

            </div>
                    </div>
                </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Customer Details</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="input-group">
                                    <span class="input-group-addon radius">Name :</span>
                                    <input type="text" class="form-control radius input-sm" />
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius">F-Name :</span>
                                    <input type="text" class="form-control radius input-sm" />
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius input-sm">CNIC# :</span>
                                    <input type="text" class="form-control radius input-sm" />
                                    
                                </div>

                            </div>

                            <div class="col-lg-5">
                                
                                <div style="border: 1px solid #e6dbdb; height:150px;"></div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="input-group">
                                    <span class="input-group-addon radius">Address :</span>
                                    <input type="text" class="form-control radius input-sm" />
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius">P-Address :</span>
                                    <input type="text" class="form-control radius input-sm" />
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius input-sm">Mobile :</span>
                                    <input type="text" class="form-control radius input-sm" />
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius">Ph. Resrve:</span>
                                    <input type="text" class="form-control radius input-sm" />
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius">Ph. Office :</span>
                                    <input type="text" class="form-control radius input-sm" />
                                    
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon radius input-sm">Fax :</span>
                                    <input type="text" class="form-control radius input-sm" />
                                    
                                </div>
                            </div>
                            <div class="col-lg-5 text-right">
                                <br />
                                <button type="button" class="btn btn-primary radius">Browse</button>
                            </div>

                        </div>
                    </div>
                </div>
                
            </div>

        </div>

        <div class="row">
                    <div class="col-lg-6">
                    <div class="panel panel-default">
                        <!--<div class="panel-heading">Broker Info.</div>-->
                        <div class="panel-body">
                            <div class="checkbox">
                            <label>Broker Involved</label><input type="checkbox" />
                                </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="input-group">
                            <span class="input-group-addon radius">Broker :</span>
                            <select class="form-control radius">
                                <option selected>Broker Name</option>
                            </select>
                        </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group">
                            <span class="input-group-addon radius sm-label">% :</span>
                            <input type="text" class="form-control radius" />
                        </div>
                            </div>
                            <div class="col-lg-4">
                                  <div class="input-group">
                            <span class="input-group-addon radius sm-label">Comm :</span>
                            <input type="text" class="form-control radius" />
                        </div>
                            </div>
                        </div>
                   
                        </div>
                    </div>
                    </div>
            <div class="col-lg-6 text-right">
                <button type="button" class="btn btn-info radius" style="width : 100px;">Save</button>
                <button type="button" class="btn btn-info radius" style="width: 100px;">Reset</button>

            </div>
            
                </div>
    </form>

    </div>

</div>
@section scripts{
    <script src="~/Scripts/Custom_js/sale_property.js"></script>

    
}