﻿@model Property_Sale_Project.Models.User.MyUser
<!DOCTYPE html>
<html>
    @{
        Layout = null;
    }
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <style>
        body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}
        #login .container #login-row #login-column #login-box {
              margin-top: 120px;
              margin-left : 270px;
              max-width: 600px;
              height: 320px;
              border: 1px solid #9C9C9C;
              background-color: #EAEAEA;
            }
            #login .container #login-row #login-column #login-box #login-form {
              padding: 20px;
            }
            #login .container #login-row #login-column #login-box #login-form #register-link {
              margin-top: -85px;
            }
    </style>

    </head>
    <body>
<div id="login">
         @using (Html.BeginForm){
         
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                     @Html.TextBoxFor(model => model.userNmae, new { @class = "form-control", placeholder = "Email" })

                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                           @Html.TextBoxFor(model => model.password, new { @class = "form-control", placeholder = "Email" })

                            </div>
                            <div class="form-group">
                                @*<label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label>*@<br>
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Sign In">
                            </div>
                            @*<div id="register-link" class="text-right">
                                <a href="#" class="text-info">Register here</a>
                            </div>*@
                        </form>
                    </div>
                </div>
            </div>
        </div>
         }
    </div>
        
        </body>
    </html>